@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .primary-button {
    @apply text-white font-semibold px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:focus:ring-indigo-400 bg-indigo-500 hover:bg-indigo-600;
  }

  .secondary-button {
    @apply text-black dark:text-white font-semibold px-4 py-2 rounded-lg focus:outline-none focus:ring-2 bg-black/10 hover:bg-black/20 dark:bg-white/20 dark:hover:bg-white/15 text-sm;
  }

  .custom-base-container {
    @apply min-h-screen dark:bg-black bg-white dark:text-white text-black flex;
  }

  .post-title {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 w-fit text-transparent bg-clip-text;
  }
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #c0c0c0;
  border-radius: 0.5rem;
  height: 0.4rem;
}

.dark input[type="range"]::-webkit-slider-runnable-track {
  background-color: black;
  border-radius: 0.5rem;
  height: 0.4rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: #000000;
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.dark input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: white;
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #c0c0c0;
  border-radius: 0.5rem;
  height: 0.4rem;
}

.dark input[type="range"]::-moz-range-track {
  background-color: black;
  border-radius: 1rem;
  height: 0.4rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #000000;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.dark input[type="range"]::-moz-range-thumb {
  background-color: white;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}
